<mat-toolbar color="primary">
    <a
    [routerLink]="'/'"
    mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu_book</mat-icon>
    </a>
    <span>White Test</span>
    <span class="example-spacer"></span>
    
    <a 
    [routerLink]="'/login'"
    style="margin-right: 2%;"
    mat-icon-button class="example-icon favorite-icon mr200 ml20" aria-label="Example icon-button with heart icon">
     Login
    </a>

    <a
    [routerLink]="'/signup'"
    mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        Register
    </a>

  
  </mat-toolbar>
