<mat-card class="mt10 mr20 ml20" style="margin-bottom: 4%;" *ngFor="let q of quizzes">
<mat-card-header>
    <div mat-card-avatar class="ex"></div>
<mat-card-title>
{{q.title}}
</mat-card-title>
<mat-card-subtitle>
    {{q.category.title}}
    </mat-card-subtitle>
</mat-card-header>
<mat-card-content>
    {{q.description}}
    </mat-card-content>
<mat-card-actions>
        <button mat-flat-button color="accent" [routerLink]="'/admin/view-questions/'+q.qId + '/' +q.title">Questions</button>
        <button mat-stroked-button color="accent" style="margin-left: 20px;">Max Marks : {{q.maxMarks}}</button>
        <button mat-stroked-button color="accent" style="margin-left: 20px;">Questions : {{q.numberOfQuestions}}</button>
        <button mat-flat-button color="accent" [routerLink]="'/admin/quiz/' + q.qId" style="margin-left: 20px;">Update</button>
        <button mat-flat-button color="warn" (click)="deleteQuiz(q.qId)" style="margin-left: 20px;">Delete</button>

    </mat-card-actions>
</mat-card>
<div class="container text-center mt20" style="margin-top: 5%;">
<button mat-raised-button routerLink="/admin/add-quiz" color="accent">Add New Quiz</button>
</div>